@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900');

body {
  background-color: rgba(60, 60, 60, 1);
  font-family: "Inter", sans-serif;
  color: white;
  height: 100vh;

}

#container {
  padding: 2rem;
  align-items: center;
}
#Dados { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 31px;
}

#coisinhos{
  display: flex;
  flex-direction: row;
  gap: 35px;
}

#metro {
  font-size: 20px;
}


h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

input { 
  text-align: center;       
  padding: 10px 15px;      
  font-size: 17px;          
  color: white;            
  background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #202020c7;
  
}

input:hover {
  border-color: #9d5dda; 
  background-color: rgba(255, 255, 255, 0.2); 
  box-shadow: 0 0 8px #9d5dda; 
}

input:focus {
  outline: none;
  border-color: #c084fc;
  box-shadow: 0 0 10px #c084fc;
}

button {
    margin-top: 31px;
    padding: 20px 55px;
    border-radius: 15px;
    border:none;
    background-color:rgba(30, 66, 134, 1);
    box-shadow: 0px 0px 8px #202020c7;
    text-align: center;             
    font-size: 30px; 
    font-weight: 600;
    color: white;
   
}

button:hover {
  border-color: #000000; 
  background-color: rgba(30, 66, 134, 1); 
  box-shadow: 0 0 10px rgb(51, 168, 235); 
  transition: 0.1s ease;
}

hr {
  border: none;
  border-top: 1px solid rgb(255, 255, 255); 
  margin: 35px 180px; 
  opacity: 0.5; 
}

.grid-resultados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  margin-left: 300px;
  margin-right: 300px;
}

.caixa{

align-items: center;
display: flex;
flex-direction: column;
gap: 0px;
font-size: 20px;
}

